@import '../../../scss/styles';

#header {
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

#big-box {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 50%;

  @include media-breakpoint-down(md) {
    top: 40%;
    padding-left: 15%;
  }
  @include media-breakpoint-up(md) {
    @include make-col-offset(1)
  }
}

@keyframes border {
  10% {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  40% {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  70% {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0.9);
  }
}

@keyframes fix-margin {
  40% {
    margin-bottom: calc(2rem - 1px);
  }
}
