<app-sub-page-img-header
        [image]="'./assets/img/teamPictures/reg7-talking.jpg'"
        [subTitle]="'So wirds gemacht!'"
        [title]="'Unsere Leistungen'">
</app-sub-page-img-header>

<div class="row pageHeadingMarginTop">
    <div class="wholeCol ">
        <p class="pageHeading ">Unsere Unterstützung auf einem Blick</p>
    </div>
</div>
<div class="row pageHeadingMarginTop">
    <div class="wholeCol">
        <app-capabilities></app-capabilities>
    </div>
</div>
<div style="margin: 0 auto; padding-bottom: 4rem; padding-top: 4rem"></div>
<div class="bg-primary measuresWrapper">
    <div class="row pageHeadingMarginTop">
        <div class="wholeCol">
            <p class="pageHeading measuresWrapper">Das sollten Sie im Auge haben</p>
        </div>
    </div>
    <div class="row  measuresWrapper">
        <div class="wholeCol">
            <app-measures></app-measures>
        </div>
        <div class="wholeCol" style="margin: 0 auto; padding-bottom: 4rem; padding-top: 4rem">
            <p class="paragraph pageHeadingMarginTop">
                Seit vielen Jahren unterstützen wir Projekte und übernehmen vielfältige Aufgaben, 
				um die aufsichtsrechtlichen Anforderungen unserer Kunden zu erfüllen. 
				Früher lagen die Herausforderungen vor allem in der fachlichen Komplexität und den häufigen gesetzlichen Änderungen. 
				Heute stehen insbesondere die Qualität der Meldungen, die Digitalisierung der Übermittlung, 
				die Vergleichbarkeit zwischen Instituten sowie der Aufbau plausibler Datenhistorien im Vordergrund.<br>
                Für viele Institute ist es anspruchsvoll, alle Meldefristen einzuhalten und die verpflichtende Überwachung
				zwischen Meldeterminen sicherzustellen. Unabhängig von der eingesetzten Software (Abacus360, BAIS oder OneSumX) 
				zählt vor allem die Effizienz der Meldeprozesse und die Qualität der Daten.<br>
                Wir bei reg7 bieten Dienstleistungen und KI-basierte Lösungen an, 
				um Ihr Meldewesen effizienter zu gestalten und die Datenqualität zu erhöhen. 
				Beides hat maßgeblichen Einfluss auf die Kosten Ihres Instituts. Nach unserer Einschätzung 
				ist Künstliche Intelligenz eine Schlüsseltechnologie, mit der sich Werkzeuge entwickeln lassen, 
				die die Qualität Ihrer Meldungen auf ein neues Niveau heben.<br> 
				Sprechen Sie gerne mit unserem Entwicklungsteam.
            </p>
        </div>
    </div>
</div>
